<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>base</title>

    <body>
        <nav class="center">

            </a>
            <a class="menu__link" href="D:\обучение\Урок 3. Языки программирования\Python\Flask\Flask_HW\templates\index.html">
                <p>index</p>
            </a>
            <a class="menu__link" href="D:\обучение\Урок 3. Языки программирования\Python\Flask\Flask_HW\templates\clothing.html">
                <p>clothing</p>
            </a>
            <a class="menu__link" href="D:\обучение\Урок 3. Языки программирования\Python\Flask\Flask_HW\templates\jackets.html">
                <p>jackets</p>
            </a>
            <a class="menu__link" href="D:\обучение\Урок 3. Языки программирования\Python\Flask\Flask_HW\templates\shoes.html">
                <p>shoes</p>
            </a>


        </nav>
        {% block content %} {% endblock %}
    </body>

</html>