{% extends 'base.html' %} {% block content %}

<body>
    <nav class="center">
        <div class="logo__box">
        </div>
    </nav>

    <main class="top__content__area center">
        <div class="text__box">
            <div class="text__box__content">
                <h1 class="text__box__title">
                    Lorem ipsum dolor sit amet.
                </h1>
                <p class="text__box__paragraph">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo quasi, nobis suscipit eius vel dolorum.
                </p>
            </div>
            <div class="text__box__buttons">
                <button class="start__button">Start Now</button>
                <button class="watch__button">Watch Video</button>
            </div>
        </div>
        <div class="image__box">
            <img class="main__image" src="#" alt="main image" />
        </div>
    </main>

    <footer class="center">
        <div class="foot__logos__box">

            </a>
        </div>
    </footer>

    <main class="bottom__content__area center"></main>
</body>
{% endblock %}